@font-face {
    font-family: "h1";
    src: url("fonts/FrederickatheGreat-Regular.ttf");
}
  
@font-face {
    font-family: "h2";
    src: url("fonts/JustAnotherHand.ttf");
}

* {
    box-sizing: border-box;
}

:root {
    --color1: rgb(134, 134, 134);
    --color2: rgb(112, 112, 112);
}

body {
    margin: 0;
    min-height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-image: url("bg1.png"); */
    background: repeating-linear-gradient(45deg, var(--color1), var(--color1) 10px, var(--color2) 10px, var(--color2) 20px);
}

/* .container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.box {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 20px;
    width: 100%;
    max-width: 650px;
    background-color: rgb(0, 0, 0);
    height: auto;
}

.corners-top {
    border-radius: 30px 30px 0px 0px;
}

.corners-bottom {
    border-radius: 0px 0px 30px 30px;
}

iframe {
    min-width: 820px;
    min-height: 630px;
    border: black 35px;
}

.menu {
    padding-top: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    height: 607.5px;
    border: 3px solid  var(--color1); 
}

.row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.chapters {
    display: flex;
    flex-direction: column;
}

.main {
    flex-direction: row;
    gap: 10px;
}

h1 {
    font-family: "h1";
    margin: -3px;
    color: var(--color1);
    font-size: 80px;
}

h2 {
    font-family: "h2";
    margin: 2px;
    color: var(--color1);
    font-size: 40px;
}

.pr:hover {
    color: white;
}

.ch1:hover {
    color: rgb(41, 131, 41);
}

.ch2:hover {
    color: rgb(0, 104, 202);
}

.ch3:hover {
    color: rgb(143, 57, 177);
}

.ch4:hover {
    color: #ff93b7;
}

.ch5:hover {
    color: rgb(255, 127, 42);
}

.img {
    max-width: 450px;
    border-radius: 8px;
    height: auto;
}

.bonus {
    margin: 5px;
    max-width: 640px;
    border-radius: 8px;
    height: auto;
}

.fame {
    font-size: 50px;
}

.bumper {
    max-width: 280px;
    height: auto;
}

a {
   color: var(--color1);
   text-decoration: underline 2px;
}

a:visited {
    text-decoration: underline 2px;
    color: var(--color1);
}

@media screen and (max-width: 630px) {    
    h1 {
      font-size: 11vw;
    }
    
    .fame {
        font-size: 8vw;   
    }

    h2 {
      font-size: 5vw;
    }

    .img {
        max-width: 100%;
    }

    .bonus {
        max-width: 100%;
    }

    .chapters {
        flex-direction: row;
        gap: 5px;
    }

    .menu {
        width: 100%;
        height: auto;
    }

    .box {
        padding: 10px;
        max-width: 90vw;
    }

    .main {
        flex-direction: column-reverse;
    }

    iframe {
        min-width: 96vw;
        min-height: 96vw;
    }

}
  
